<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>

</head>

<body tiles:fragment="content">

	<form action="#" th:action="${flowExecutionUrl}"
		th:object="${catering}" method="post">

		<div class="col-lg-6">

			<h2>Ihre Veranstaltung:</h2>
			<h4 th:text="${event.name}">Example Event</h4>
			<span>am </span> <span th:text="${event.date}">Beispieldatum</span>

			<h4>Bitten geben Sie uns Informationen zum Catering:</h4>

			<br />

			<p>
			<div class="input-group">
				<span class="input-group-addon"> <input type="radio"
					id="Verpflegung" th:field="*{eating}" value="true" /> <label
					for="Verpflegung">Verpflegung</label> <input type="radio"
					id="keine Verpflegung" th:field="*{eating}" value="false" /> <label
					for="keine Verpflegung">keine Verpflegung</label>
				</span>
			</div>
			</p>
			<p>
				Welche Art von Verk&ouml;stigung w&uuml;nschen Sie: <input
					type="text" class="form-control" placeholder="Bsp. Buffet"
					th:field="*{eatingType}" />
			</p>
			<p>
				Nennen Sie uns die Anzahl an Personen die etwas essen m&ouml;chten:
				<input type="text" class="form-control" placeholder="Bsp. 200"
					th:field="*{eatingPeople}" />
			</p><br />
			<p>
			<div class="input-group">
				<span class="input-group-addon"> <input type="radio"
					id="Bewirtung" th:field="*{drinking}" value="true" /> <label
					for="Bewirtung">Bewirtung</label> <input type="radio"
					id="keine Bewirtung" th:field="*{drinking}" value="false" /> <label
					for="keine Bewirtung">keine Bewirtung</label>
				</span>
			</div>
			</p>
			<p>
				Nennen Sie uns die Anzahl an Personen die etwas trinken
				m&ouml;chten: <input type="text" class="form-control"
					placeholder="Bsp. 200" th:field="*{drinkingPeople}" />
			</p><br />

			<button class="btn btn-primary pull-right" type="submit" id="proceed"
				name="_eventId_proceed">Weiter</button>
			<button class="btn btn-primary pull-left" type="submit" id="back"
				name="_eventId_back">Zur&uuml;ck</button>

		</div>
	</form>


</body>
</html>
