<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>

</head>

<body tiles:fragment="content">

	<form action="#" th:action="${flowExecutionUrl}" th:object="${event}"
		method="post">

		<div class="col-lg-6">

			<h2>Willkommen zur Veranstaltungsplanung</h2>
			
			<br />

			<p>
				Name der Veranstaltung: <input class="form-control" type="text"
					placeholder="Bsp. Rock am Ring" th:field="*{name}" />
			</p>
			<p>
				Datum der Veranstaltung: <input class="form-control" type="text"
					placeholder="tt.mm.jjjj" th:field="*{date}" />
			</p><br />

			<button class="btn btn-primary pull-right" type="submit" id="proceed"
				name="_eventId_proceed">Weiter</button>
		</div>

	</form>

</body>
</html>
