<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>

</head>

<body tiles:fragment="content">

	<form action="#" th:action="${flowExecutionUrl}"
		th:object="${location}" method="post">

		<div class="col-lg-6">

			<h2>Ihre Veranstaltung:</h2>
			<h4 th:text="${event.name}">Example Event</h4>
			<span>am </span> <span th:text="${event.date}">Beispieldatum</span>

			<h4>Bitten geben Sie uns Informationen zum Ort, an dem die
				Veranstaltung stattfinden soll:</h4>

			<br />

			<p>
				Stadt: <input type="text" class="form-control"
					placeholder="Bsp. Furtwangen" th:field="*{town}" />
			</p>

			<p>
				Stra&szlig;e: <input type="text" class="form-control"
					placeholder="Bsp. Robert-Gerwig-Platz 1" th:field="*{street}" />
			</p>

			<p>
				Veranstaltungsgel&auml;nde: <input type="text" class="form-control"
					placeholder="Bsp. Stadthalle" th:field="*{name}" />
			</p>

			<p>
				Gel&auml;ndeart: <input type="text" class="form-control"
					placeholder="Indoor oder Outdoor" th:field="*{type}" />
			</p><br />

			<button class="btn btn-primary pull-right" type="submit" id="proceed"
				name="_eventId_proceed">Weiter</button>
			<button class="btn btn-primary pull-left" type="submit" id="back"
				name="_eventId_back">Zur&uuml;ck</button>
		</div>
	</form>

</body>
</html>
