<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body tiles:fragment="content">

	<form action="#" th:action="${flowExecutionUrl}" th:object="${rigging}"
		method="post">

		<div class="col-lg-6">

			<h2>Ihre Veranstaltung:</h2>
			<h4 th:text="${event.name}">Example Event</h4>
			<span>am </span> <span th:text="${event.date}">Beispieldatum</span>

			<h4>Bitten geben Sie uns Informationen zur Befestigung/Traversen:</h4>

			<br />

			<div class="input-group">
				<span class="input-group-addon"> 
					<input type="radio" id="rigging" th:field="*{riggingNeeded}" value="true" /> 
					<label	for="rigging">B&uuml;hnenbau</label> 
					<input type="radio"	id="kein rigging" th:field="*{riggingNeeded}" value="false" /> 
					<label for="kein rigging">keine B&uuml;hnenbau</label>
				</span>
			</div>
			<p>
	          <div>
	            <label for="type">Auswahl der Befestigungsm&ouml;glichkeiten</label>
	            <select th:field="*{riggingType}" class="form-control">
	              <option th:each="type : *{riggingTypeSelection}" th:value="${type}" th:text="${type}" >Wireframe</option>
	            </select>
	          </div>
	      </p>
	          <p>
				B&uuml;hnengr&ouml;sse: (BxHxL in Meter) <input type="text" class="form-control"
					placeholder="Bsp. 6x4x4" th:field="*{stageSize}" />
				</p><br />
	        

			<button class="btn btn-primary pull-right" type="submit" id="proceed"
				name="_eventId_proceed">Weiter</button>
			<button class="btn btn-primary pull-left" type="submit" id="back"
				name="_eventId_back">Zur&uuml;ck</button>

		</div>

	</form>

</body>
</html>
