<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body tiles:fragment="content">

	<form action="#" th:action="${flowExecutionUrl}"
		th:object="${security}" method="post">

		<div class="col-lg-6">

			<h2>Ihre Veranstaltung:</h2>
			<h4 th:text="${event.name}">Example Event</h4>
			<span>am </span> <span th:text="${event.date}">Beispieldatum</span>

			<h4>Bitten geben Sie uns Informationen zum Sicherheitsdienst:</h4>

			<br />
			
			<div class="input-group">
				<span class="input-group-addon"> 
					<input type="radio" id="Security" th:field="*{securityNeeded}" value="true" /> 
					<label	for="Security">Security</label> 
					<input type="radio"	id="keine Security" th:field="*{securityNeeded}" value="false" /> 
					<label for="keine Security">keine Security</label>
				</span>
			</div><br />
			
			<p>
				Anzahl der G&auml;ste: <input type="text" class="form-control"
					placeholder="Bsp. 1000" th:field="*{numberOfProtectees}" />
			</p><br />

			<button class="btn btn-primary pull-right" type="submit" id="proceed"
				name="_eventId_proceed">Weiter</button>
			<button class="btn btn-primary pull-left" type="submit" id="back"
				name="_eventId_back">Zur&uuml;ck</button>

		</div>

	</form>


</body>
</html>
