<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body tiles:fragment="content">

	<form action="#" th:action="${flowExecutionUrl}"
		th:object="${specialty}" method="post">

		<div class="col-lg-6">

			<h2>Ihre Veranstaltung:</h2>
			<h4 th:text="${event.name}">Example Event</h4>
			<span>am </span> <span th:text="${event.date}">Beispieldatum</span>

			<h4>M&ouml;chten Sie noch weitere Informationen angeben?</h4>

			<br />

			<p>
				Betreff: <input type="text" class="form-control"
					placeholder="Bsp. Sample Subject" th:field="*{subject}" />
			</p>
			<p>
				Kommmentar: <input type="text" class="form-control"
					placeholder="Bsp. Sample Comment" th:field="*{comment}" />
			</p><br />

			<button class="btn btn-primary pull-right" type="submit" id="proceed"
				name="_eventId_proceed">Weiter</button>
			<button class="btn btn-primary pull-left" type="submit" id="back"
				name="_eventId_back">Zur&uuml;ck</button>

		</div>

	</form>

</body>
</html>
