<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>

</head>

<body tiles:fragment="content">

<form action="#" th:action="${flowExecutionUrl}" method="post">

	<h1>Ihr Event - Zusammenfassung</h1>
	<h3 th:text="${event.name}">Example Event</h3>
	
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Location</h3>
		</div>
			<div class="panel body">
				<table class="table">
					<thead>
						<th>Strasse</th>
						<th>Ort</th>
						<th>Geb&auml;ude/Platz</th>
						<th>Typ</th>
					</thead>
					<tbody>
						<tr>
							<td th:text="${event.location.street}">...</td>
							<td th:text="${event.location.town}">...</td>
							<td th:text="${event.location.name}">...</td>
							<td th:text="${event.location.type}">...</td>
						</tr>
					</tbody>	
				</table>
			</div>	
	</div>	
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Catering</h3>	
		</div>
			<div class="panel body">
				<table class="table">
					<thead>
						<th>Catering</th>
						<th>Art</th>
						<th>Anzahl Essen</th>
						<th>Trinken</th>
						<th>Anzahl G&auml;sete</th>
					</thead>
					<tbody>
						<tr>
							<td th:text="${event.catering.eating}">...</td>
							<td th:text="${event.catering.eatingType}">...</td>
							<td th:text="${event.catering.eatingPeople}">...</td>
							<td th:text="${event.catering.drinking}">...</td>
							<td th:text="${event.catering.drinkingPeople}">...</td>
						</tr>
					</tbody>	
				</table>
			</div>	
	</div>	
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Security</h3>	
		</div>
			<div class="panel body">
				<table class="table">
					<thead>
						<th>Security</th>
						<th>Erwartete G&auml;ste</th>
					</thead>
					<tbody>
						<tr>
							<td th:text="${event.security.securityNeeded}">...</td>
							<td th:text="${event.security.numberOfProtectees}">...</td>
						</tr>
					</tbody>	
				</table>
			</div>	
	</div>	
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Beleuchtung</h3>	
		</div>
			<div class="panel body">
				<table class="table">
					<thead>
						<th>Beleuchtung</th>
						<th>Art</th>
						<th>Raumgr&ouml;sse</th>
						<th>B&uuml;hnengr&ouml;sse</th>
					</thead>
					<tbody>
						<tr>
							<td th:text="${event.light.lightsNeeded}">...</td>
							<td th:text="${event.light.lightType}">...</td>		
							<td th:text="${event.light.roomSize}">...</td>
							<td th:text="${event.light.stageSize}">...</td>
						</tr>
					</tbody>	
				</table>
			</div>	
	</div>	
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Audio</h3>	
		</div>
			<div class="panel body">
				<table class="table">
					<thead>
						<th>Audio</th>
						<th>Art</th>
						<th>Raumgr&ouml;sse</th>
						<th>Personenzahl</th>
					</thead>
					<tbody>
						<tr>
							<td th:text="${event.audio.audioNeeded}">...</td>
							<td th:text="${event.audio.audioType}">...</td>
							<td th:text="${event.audio.roomSize}">...</td>
							<td th:text="${event.audio.numberGuests}">...</td>
						</tr>
					</tbody>	
				</table>
			</div>	
	</div>	
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Rigging</h3>	
		</div>
			<div class="panel body">
				<table class="table">
					<thead>
						<th>Rigging</th>
						<th>Art</th>
						<th>B&uuml;hnengr&ouml;sse</th>
					</thead>
					<tbody>
						<tr>
							<td th:text="${event.rigging.riggingNeeded}">...</td>
							<td th:text="${event.rigging.riggingType}">...</td>
							<td th:text="${event.rigging.stageSize}">...</td>
						</tr>
					</tbody>	
				</table>
			</div>	
	</div>	
		<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Zusatzinfos</h3>	
		</div>
			<div class="panel body">
				<table class="table">
					<thead>
						<th th:text="${event.specialty.subject}">...</th>
					</thead>
					<tbody>
						<tr>
							<td th:text="${event.specialty.comment}">...</td>
						</tr>
					</tbody>	
				</table>
			</div>	
	</div>

	<button class="btn btn-primary pull-right" type="submit" id="proceed"
			name="_eventId_proceed">Anmelden</button>
			<button class="btn btn-primary pull-right" type="submit" id="register"
			name="_eventId_register">Registieren</button>
	<button class="btn btn-primary pull-left" type="submit" id="back"
			name="_eventId_back">Zur&uuml;ck</button>
</form>

</body>
</html>
