
        <div ng-show="userCtrl.user">
            <h1>{{userCtrl.user.email}}</h1>
            <h1>{{userCtrl.user.username}}</h1>
            <h1>{{userCtrl.user.password}}</h1>
            <h1>{{userCtrl.user.firstname}}</h1>
            <h1>{{userCtrl.user.lastname}}</h1>
        </div>
        <form name="registerUserForm" ng-submit="registerUserForm.$valid && userCtrl.addUser(user, password)" novalidate>
            <input ng-model="user.email" type="email" class="ng-pristine ng-invalid" required/>
            <input ng-model="user.username" type="email" class="ng-pristine ng-invalid" required/>
            <input ng-model="password.first" type="password" class="ng-dirty ng-invalid" required/>
            <input ng-model="password.secound" type="password" class="ng-dirty ng-invalid" required/>
            <input ng-model="user.firstname" type="text" class="ng-dirty ng-invalid" required/>
            <input ng-model="user.lastname" type="text" class="ng-dirty ng-invalid" required/>
            <div> Valide? {{registerUserForm.$valid}} </div>
            <input type="submit" value="submit" />
            <p>{{userCtrl.user | json}}</p>
        </form>