<div id="HomeCarousel" class="carousel slide">

	<ol class="carousel-indicators">
		<li data-target="#HomeCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#HomeCarousel" data-slide-to="1"></li>
		<li data-target="#HomeCarousel" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner">
		<div class="item active">
			<img src="app/img/lonelyBeach.jpg" alt="Beach" class="img-responsive">
			<div class="carousel-caption">
				<h3>Entdecke einsame Ecken</h3>
				<p>Andere User zeigen dir ihre Geheimtipps</p>
			</div>
		</div>

		<div class="item">
			<img src="app/img/team.jpg" alt="Sunset" class="img-responsive">
			<div class="carousel-caption">
				<h3>Gemeinsame Unternehmungen</h3>
				<p>Verabrede dich mit anderen Abenteuerlustigen</p>
			</div>
		</div>

		<div class="item">
			<img src="app/img/uluru.jpg" alt="Park" class="img-responsive">
			<div class="carousel-caption">
				<h3>Entdecke neue Kulturen</h3>
				<p>zum Beispiel am Ayers Rock</p>
			</div>
		</div>

	</div>

	<a class="carousel-control left" data-target="#HomeCarousel"
		role="button" data-slide="prev"> <span class="icon-prev"></span>
	</a> <a class="carousel-control right" data-target="#HomeCarousel"
		role="button" data-slide="next"> <span class="icon-next"></span>
	</a>


</div>


<h1>Adventure Spots</h1>

<div class="row">
	<div class="col-xs-6 col-md-4">
		<h3>Profil einsehen</h3>
		<p>Schau dir dein Profil an und &auml;ndere deine Daten</p>
	</div>
	<div class="col-xs-6 col-md-4">
		<h3>Spot anlegen</h3>
		<p>Teile deinen Lieblingsspot mit anderen Usern indem du ihn hier anlegst</p>
	</div>
	<div class="col-xs-6 col-md-4">
		<h3>Spots ansehen</h3>
		<p>Finde alle Spots auf einem Blick</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-md-4">
		<a class="btn btn-primary" href="#/profileEdit" role="button">
		<span class="glyphicon glyphicon-user"></span> Profil einsehen</a>
	</div>
	<div class="col-xs-6 col-md-4">
		<a class="btn btn-primary" href="#/spotsCreate" role="button">
		<span class="glyphicon glyphicon-map-marker"></span> Spot anlegen</a>
	</div>
	<div class="col-xs-6 col-md-4">
		<a class="btn btn-primary" href="#/spots" role="button">
		<span class="glyphicon glyphicon-list"></span> Spots ansehen</a>
	</div>
</div>



