	<div id="LoginCarousel" class="carousel slide">

		<ol class="carousel-indicators">
			<li data-target="#LoginCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#LoginCarousel" data-slide-to="1"></li>
			<li data-target="#LoginCarousel" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner">
			<div class="item active">
				<img src="app/img/blackBeach.jpg" alt="Black Beach" class="img-responsive">
				<div class="carousel-caption">
					<h3>Gemeinsam Spots entdecken</h3>
					<p>Teile deine Spotentdeckung mit der Community</p>
				</div>
			</div>

			<div class="item">
				<img src="app/img/devilMarbles.jpg" alt="Devil Marbles" class="img-responsive">
				<div class="carousel-caption">
					<h3>Noch kein Mitglied?</h3>
					<p>Registriere dich noch heute kostenlos um alle Vorteile zu erhalten</p>
				</div>
			</div>

			<div class="item">
				<img src="app/img/waterJungle.jpg" alt="Water Jungle" class="img-responsive">
				<div class="carousel-caption">
					<h3>Schon Mitglied?</h3>
					<p>Melde dich jetzt an um nach neuen Spots zu schauen</p>
				</div>
			</div>

		</div>

		<a class="carousel-control left" data-target="#LoginCarousel"
			role="button" data-slide="prev"> <span class="icon-prev"></span>
		</a> <a class="carousel-control right" data-target="#LoginCarousel"
			role="button" data-slide="next"> <span class="icon-next"></span>
		</a>


	</div>
	
	<div class="row">
		<div class="col-xs-6">
			<h3>Registrieren</h3>
			<p>Nutze alle Vorteile von Adventure Spots und registriere dich
				noch heute</p>
			<a class="btn btn-primary" href="#/register" role="button"> <span
				class="glyphicon glyphicon-user"></span> Registrieren
			</a>
		</div>
		<div class="col-xs-6">
			<h3>Anmelden</h3>
			<p>Du bist schon registriert? Melde dich jetzt am System an</p>
			<a class="btn btn-primary" href="#/login" role="button"> <span
				class="glyphicon glyphicon-star-empty"></span> Login
			</a>
		</div>
	</div>



	<form class="form-signin" role="form">
		<div class="alert alert-danger" role="alert" ng-show="authMessage">{{authMessage}}</div>

		<h2 class="form-signin-heading">Bitte anmelden</h2>
		<label for="inputFieldEmail" class="sr-only">E-Mail</label> <input
			type="text" id="eingabefeldEmail" ng-model="user.username"
			class="form-control" placeholder="E-Mail" required autofocus>
		<label for="nputFieldPassword" class="sr-only">Passwort</label> <input
			type="password" id="eingabefeldPasswort" ng-model="user.password"
			class="form-control" placeholder="Password" required>
		<div class="checkbox">
			<label><input type="checkbox" ng-model="rememberMe">
				angemeldet bleiben </label>
		</div>
		<input type="submit" value="Anmelden" class="btn btn-primary"
			ng-click="login()" />
	</form>



