<div id="profileCarousel" class="carousel slide">

	<ol class="carousel-indicators">
		<li data-target="#profileCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#profileCarousel" data-slide-to="1"></li>
		<li data-target="#profileCarousel" data-slide-to="2"></li>
	</ol>
	
	<div class="carousel-inner">
		<div class="item active">
			<img src="app/img/jungle.jpg" alt="Dschungel" class="img-responsive">
			<div class="carousel-caption">
				<h3>Entdecke den Dschungel</h3>
				<p>das Abenteuer ist nur einen Klick entfernt </p>
			</div>
		</div>
		
		<div class="item">
			<img src="app/img/roadtrain.jpg" alt="Roadtrain" class="img-responsive">
			<div class="carousel-caption">
				<h3>Entdecke das Outback</h3>
				<p>das Abenteuer ist nur einen Klick entfernt</p>
			</div>
		</div>
		
		<div class="item">
			<img src="app/img/sunsetSiluette.jpg" alt="Sonnenuntergang" class="img-responsive">
			<div class="carousel-caption">
				<h3>Sammle einigartige Erfahrung</h3>
				<p>Starte dein Abenteuer schon heute</p>
			</div>
		</div>
	
	</div>
	
	<a class="carousel-control left" data-target="#profileCarousel" role="button" data-slide="prev">
		<span class="icon-prev"></span>
	</a>
	
	<a class="carousel-control right" data-target="#profileCarousel" role="button" data-slide="next">
		<span class="icon-next"></span>
	</a>


</div>
<div>
	<h4>Person</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>Vorname</dt>
		<dd class="firstnameModel">{{user.firstname}}</dd>
		<dt>Nachname</dt>
		<dd class="lastnameModel">{{user.lastname}}</dd>
		<dt>Username</dt>
		<dd class="usernameModel">{{user.username}}</dd>
		<dt>Email</dt>
		<dd class="emailModel">{{user.email}}</dd>
	</dl>
<a class="btn btn-primary" href="#/profileEdit" role="button">
<span class="glyphicon glyphicon-pencil"></span> Profil bearbeiten</a>

<a class="btn btn-primary" ng-click="deleteUser()" role="button">
<span class="glyphicon glyphicon-pencil"></span> Profil l&ouml;schen</a>

</div>