

<div>
        <h4>Person</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
               Vorname
            </dt>
    		<dd class="firstnameModel">{{user.firstname}}</dd>    
            <dt>
                Nachname
            </dt>    
            <dd class="lastnameModel">{{user.lastname}}</dd>        
            <dt>
                Username
            </dt>    
            <dd class="usernameModel">{{user.username}}</dd>
    
            <dt>
                Email
            </dt>
    
            <dd class="emailModel">{{user.email}}</dd>
    
            <dt>
                Passwort
            </dt>
    
            <dd>
             {{user.password}}

            </dd>

    
        </dl>
    </div>