<h3>Spot anlegen</h3>

<form class="form-horizontal" role="form" novalidate>

	<div class="form-group">
		<label for="inputFieldSpotName" class="col-sm-2 control-label email-label">Spot Bezeichnung</label>
		<div class="col-sm-10">
			<input ng-model="spot.name" type="text"
				class="form-control ng-dirty ng-invalid" required
				id="inputFieldSpotName" placeholder="Spot Bezeichnung" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputFieldStreet" class="col-sm-2 control-label">Straﬂe</label>
		<div class="col-sm-10">
			<input ng-model="spot.street" type="text"
				class="form-control ng-dirty ng-invalid" required
				id="inputFieldStreet" placeholder="Straﬂe" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputFieldTown" class="col-sm-2 control-label">Ort</label>
		<div class="col-sm-10">
			<input ng-model="spot.town" type="password"
				class="form-control ng-dirty ng-invalid" required 
				id="inputFieldTown" placeholder="Ort" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputFieldCountry" class="col-sm-2 control-label">Land</label>
		<div class="col-sm-10">
			<input ng-model="spot.country" type="password"
				class="form-control ng-dirty ng-invalid" required 
				id="inputFieldCountry" placeholder="Land" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputFieldActivity" class="col-sm-2 control-label">Aktivit‰t</label>
		<div class="col-sm-10">
			<input ng-model="spot.activity" type="text"
				class="form-control ng-dirty ng-invalid" required
				id="inputFieldActivity" placeholder="z.B. Tauchen, Rodeln, Wandern" />
		</div>
	</div>
	
	<button type="submit" ng-click="send(spot)" class="btn btn-default">Commit</button>
	
</form>

