<h3>Spots anzeigen</h3>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<p>Spot bezeichnung:</p>
		</div>
		<div class="col-md-2"><p>{{spot.name}}</p></div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<p>Straße:</p>
		</div>
		<div class="col-md-2">{{spot.location.street}}</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<p>Ort:</p>
		</div>
		<div class="col-md-2">{{spot.location.town}}</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<p>Land:</p>
		</div>
		<div class="col-md-2">{{spot.location.country}}</div>
	</div>
</div>
