<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="Christian Henle" />

<title>Configurator</title>



<script type="text/javascript" src="/resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="/resources/js/bootstrap.js"
	th:src="@{/resources/js/bootstrap.js}"></script>
<style type="text/css">
body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase>p>.btn {
	margin: 5px 0;
}
</style>
<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
</link>
<link href="/resources/css/bootstrap-theme.css.map" rel="stylesheet">
</link>

</head>
<body>
	<div th:include="layout :: navbar"></div>
	<div class="container-fluid">


		<div class="row-fluid">
			<div class="span8 sidebar-nav">


				<h3>Password ändern</h3>
				<form action="/user/changePassword" method="POST"
					th:object="${password}" role="form">
					<div class="form-group">
						<label for="Password">Password</label>
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('password1')}"
							th:errors="*{password1}">Incorrect Name</div>
						<div class="controls">
							<input type="password" th:field="*{password1}"
								class="form-control" placeholder="Password" />

						</div>
					</div>

					<div class="form-group">
						<label for="PasswordRepeat">Password Wiederholung</label>
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('password2')}"
							th:errors="*{password2}">Incorrect Name</div>
						<input type="password" th:field="*{password2}"
							class="form-control" placeholder="Password Wiederholung" />
					</div>
					<div class="form-group">
						<label for="NewPasswort">Neues Password</label>
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('newPassword')}"
							th:errors="*{newPassword}">Incorrect Name</div>
						<input type="password" th:field="*{newPassword}"
							class="form-control" placeholder="Neues Password" />
					</div>

					<button type="submit" class="btn pull-right btn-primary">Weiter</button>

				</form>
			</div>
		</div>
		<div class="row-fluid">
			<div th:if="${messagePasswordChanged}" class="alert alert-success"
				th:text="${messagePasswordChanged}">Success</div>
		</div>

		<div th:include="layout :: foot"></div>


	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/resources/js/bootstrap.min.js"
		th:href="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>