<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

<head>

</head>

<body tiles:fragment="content">
	<div class="container">
		<h2 class="form-register-heading">Bitte geben Sie hier Ihre Daten ein.</h2>
		<form action="/user/new" method="post" class="form-signin" role="form" th:object="${user}">
			<label for="InputCompany">Firma</label>
			<input type="text" th:field="*{corporation}" class="form-control" placeholder="company" /> 
	    	
	    	<label for="InputAnrede">Anrede</label>
	    	<select name="geschlecht" th:field="*{gender}" class="form-control" autofocus="" required="">
			          <option value="0">Bitte w&auml;hlen</option>
			          <option value="m">Herr</option>
			          <option value="f">Frau</option>
			</select>
			
			<label for="InputName">Name</label>
	    	<input type="text" th:field="*{lastName}" class="form-control" placeholder="last name"/>
			
			<label for="InputVorname">Vorname</label>
	    	<input type="text" th:field="*{firstName}" class="form-control" required=""
	    			maxlength="50" name="Vorname" size="45"	placeholder="first name"/>
			
			<label for="InputStrasse">Strasse</label>
	    	<input type="text" th:field="*{street}" class="form-control" required=""
	    			maxlength="50" name="Strasse" size="45"	placeholder="street"/>
	    			
	    	<label for="InputPlz">PLZ</label>
	    	<input type="text" th:field="*{zipCode}" class="form-control" required=""
	    			maxlength="50" name="PLZ" size="45"	placeholder="zip code"/>
			
			<label for="InputOrt">Ort</label>
	    	<input type="text" th:field="*{residence}" class="form-control" required=""
	    			maxlength="50" name="Ort" size="45"	placeholder="residence"/>	
	    			
	    			<label for="InputPhone">Telefonnummer</label>
	    	<input type="text" th:field="*{phone}" class="form-control" required=""
	    			maxlength="50" name="Ort" size="45"	placeholder="phone"/>		
			
			<label for="InputEmail">Email Adresse</label>
			<input type="text" th:field="*{email}" class="form-control" id="InputEmail" required=""
					placeholder="email" /> 
					
					<label for="InputUsername">Benutzername</label>
			<input type="text" th:field="*{username}" class="form-control" id="InputUsername" required=""
					placeholder="username" />
		
	   		<label for="InputPassword1">Passwort</label>
	    	<input type="password" th:field="*{password}" class="form-control" id="InputPassword1" required="" 
	    			placeholder="password"/>
			
			<button class="btn btn-lg btn-primary btn-block" type="submit">Abschicken</button>
		</form>
	</div>
</body>
</html>